{% extends 'BinssVitrineBundle::layout.html.twig' %}


{# Titre(onglet) de la page #}
{% block title %}Accueil{% endblock %}


{# Contenu de la page #}
{% block body %}
    <h2>page ACCUEIL</h2>
{% endblock %}
